<div class="specialContent">
    <h1>About Volcano Deformation</h1>
    <p>
        Mass movement underneath a volcano can result in deformation of the surface of the Earth. As magma rises from
        depth, the surface of the Earth is pushed up slightly, as magma migrates or erupts, the surface lowers; similar
        to the up and down of the chest when breathing. These signals are often subtle, on the order of a few
        millimeters to centimeters, but can affect areas with a diameter of many kilometers around the volcano. Notably,
        the deformation depends on (1) the volume of the material, (2) its depth, (3) and the first order geometry of
        the mass (for instance spherical or ellipsoidal). In principle, the more material intrudes at shallower depths,
        the larger the deformation signal and the smaller the radius around the volcano that is affected by the
        deformation).
    </p>
    <p class="center">
        <img alt="Deformation process illustration" src="static/img/aboutDeformation.png" title="">
    </p>
    <p>
        At AVO, we use several techniques to measure such deformation signals: (1) Global Navigation Satellite Systems
        (GNSS, which includes GPS); (2) borehole tiltmeters; and (3) Interferometric Synthetic Aperture Radar (InSAR).
        The first two require instrumentation on the ground. GNSS instruments measure how the position of a point
        changes at a precision of just a few millimeters on time scales of seconds to years. Tiltmeters measure the
        change in angle of the ground surface at fractions of a degree, which they resolve over seconds to days. SAR is
        a satellite-based instrument that emits and records the intensity and phase of electromagnetic waves that bounce
        off the surface of the Earth back to the satellite. Two or more of such images, currently about 6-12 days apart,
        can be compared to create a deformation map of the Earth’s surface, which we call an interferogram or a time
        series of interferograms.
    </p>
    <p>
        Alaska Volcanoes deform on a range of scales, up to ~10 cm/yr at Okmok since its last eruption in 2008 (as shown
        in the figure below), to a few microradians, detectable only on tiltmeters at Shishaldin during its 2019-2020
        activity (We invite you to find those signals using the interface).
    </p>
    <p class="center">
        <img alt="" src="static/img/deformation_img1.png" title="">
    </p>
</div>