<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <script type="text/javascript" src="./static/scripts/jquery-3.5.1.min.js" defer></script>
    <script type="text/javascript" src="./static/scripts/jquery-ui.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="./static/styles/jquery-ui.min.css" />


    <!--DataTables plugin-->
    <script type="text/javascript" src="./static/scripts/datatables.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./static/styles/datatables.min.css" defer>

    <script type="text/javascript" src="./static/scripts/admin-2.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./static/styles/base_3.css" />
    <link rel="stylesheet" type="text/css" href="./static/styles/admin_1.css" />
    <script type="text/javascript">
        volcanoLookup={{volcanoLookup | jsonify | safe}}
    </script>

</head>
<body>

<!-- Station edit dialog -->
    <div id="editDialog" title='Edit Station' style="display:none">
        <form id="imageUpload">

        </form>

        <form id="stationEditForm">
            <input type="hidden" name="id" id="idEdit">
            <div><input id="nameEdit" type="text" placeholder="Station Name" name="name"></div>

            <div class="stationPhoto">
                <img id="stationPhoto">
            </div>
            <div id="imgUploadDiv">
                <input type="button" id="uploadPhoto" value="Upload Photo..."/>
                <input type="file" id="selectedImage">
            </div>

            <div class="stationInfo">
                <label for="latEdit">Latitude</label>
                <label for="lonEdit">Longitude</label>
                <label for="altEdit">Alt</label>
                <input type="text" id="latEdit" name="latitude" class="latitude" size="7">
                <input type="text" id="lonEdit" name="longitude" class="longitude" size="7">
                <input type="text" id="altEdit" name="altitude" class="altitude" size="4">

                <label class="twoWide" for="siteEdit">Site</label>
                <label for="typeEdit">Type</label>
                <label for="stationvolcsEdit">Volcano</label>

                <select id="siteidEdit" class="twoWide" name="siteid">
                    <option value="">Unknown</option>
                </select>
                <select id="typeEdit" name="type">
                    <option value="continuous">Continuous</option>
                    <option value="campaign">Campaign</option>
                </select>
                <div class="filteringWrapper">
                    <div id="stationVolcs" class="listEdit"></div>
                    <input type="hidden" name="volcano" id="stationvolcsEdit">

                    <!-- Volcano selector-->
                    <div class="filteringSelector" id="volcanoSelector" style="display:none">
                        <input id="filterVolcanoes" class="filterInput" type="text">
                        <div id="volcanoScroll" class="filteringScroll">
                            <table id="volcanoOptions" class="filteringOptions">
                                <tbody>
                                    {% for volc in volcanoes %}
                                    <tr data-id="{{volc['id']}}">
                                        <td><input type="checkbox" class="volcSelectBox" data-name="{{volc['name']}}" value="{{volc['id']}}"></td>
                                        <td>{{volc['name']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button type="button" id="closeVolcanoes">Done</button>
                    </div>
                    <!-- End Volcano Selector-->
                </div>



            </div>
            <div class="stationTiltWrapper">
                <button type="button" id="newOrientation">New Tilt Orientation</button>
                <table id="orientationEdit">
                    <thead>
                        <th>Delete</th>
                        <th>Date</th>
                        <th>X</th>
                        <th>Y</th>
                    </thead>
                    <tbody>
                        <tr><td></td><td>No</td><td>tilt</td><td>data</td></tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
<!-- End station edit dialog -->

<!-- Site edit dialog -->
    <div id="siteEdit" title="Edit Site" style="display:none">
        <form id="siteEditContent">
            <div class="left">
                <div class="label">
                    <input type="hidden" name="id" id="siteIDEdit">
                    <label for="sitenameEdit">Name:</label>
                </div>
                <input type="text" name="name" id="sitenameEdit">

                <label for="sitelatEdit">Latitude:</label>
                <input type="number" name="lat" id="sitelatEdit" max="90" min="-90">

                <label for="sitelonEdit">Longitude:</label>
                <input type="number" name="lon" id="sitelonEdit" max="180" min="-180">

                <label for="sitezoomEdit">Zoom:</label>
                <input type="number" name="zoom" id="sitezoomEdit" max="18" min="0">


            </div>
            <div class="right">
                <label for="sitebaseEdit">Baselines</label>
                <div id="baselineWrapper" class="filteringWrapper">
                    <div id="siteBaseNames" class="listEdit"></div>
                    <input type="hidden" name="baselines" id="sitebaselinesEdit">

                    <!-- Baseline selector-->
                    <div class="filteringSelector" id="baselineSelector" style="display:none">
                        <input id="filterBaselines" class="filterInput" type="text">
                        <div id="baselineScroll" class="filteringScroll">
                            <table id="baselineOptions" class="filteringOptions">
                                <tbody>
                                    {% for station in stations %}
                                    <tr data-id="{{station['id']}}">
                                        <td><input type="checkbox" class="baseSelectBox" data-name="{{station['name']}}" value="{{station['id']}}"></td>
                                        <td>{{station['name']}}</td>
                                        <td>{{station['site']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button type="button" id="closeBaseline">Done</button>
                    </div>
                    <!-- End Baseline Selector-->

                </div>
            </div>
        </form>

    </div>
<!-- End site edit dialog -->

<!--TSX New Dialog-->
    <div id="newTSX" title="New TSX/TDX entry" style="display:none">
        <form id="newTSXForm">
            <div id="newTSXContent">
            </div>
        </form>
    </div>
<!--End TSX New-->


    <div id="contentSelector">
        <button id="stations" class="active" data-target="stationsContent">Stations</button><button
        id="sites" data-target="sitesContent">Sites</button><button id="tsx" data-target="tdxContent">TSX/TDX</button>
    </div>
    <div id="content">
        <!--Stations Content DIV-->
        <div id="stationsContent" class="contentDiv active">
            <table id="stationList">
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Alt</th>
                    <th>Site</th>
                    <th>Type</th>
                    <th>Has Tilt</th>
                </thead>
                <tbody>
                    {% for station in stations %}
                    <tr class="stationEntry" data-id="{{station['id']}}" data-info='{{station| jsonify | safe}}'>
                        <td class="stationPhoto"> <img src="image/{{ station['name'] }}"></td>
                        <td class="stationName">{{station['name']}}</td>
                        <td class="stationLat">{{station['lat']}}</td>
                        <td class="stationLon">{{station['lon']}}</td>
                        <td class="stationAlt">{{station['alt']}}</td>
                        <td class="stationSite">{{station['site']}}</td>
                        <td class="stationType">{{station['type']}}</td>
                        <td class="stationTilt">{{station['has_tilt']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!--Sites Content Div-->
        <div id="sitesContent" class="contentDiv">
            <div id="addSiteDiv" class="dt-buttons">
                <button class="dt-button" id="addSiteButton"><span>Add Site</span></button>
            </div>

            <table id="siteList">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Zoom</th>
                        <th>Baselines</th>
                    </tr>
                </thead>
                <tbody>
                    {% for site in sites %}
                    <tr data-id="{{ site['id'] }}" data-info='{{ site | jsonify | safe }}'>
                        <td>{{site['name']}}</td>
                        <td>{{site['lat']}}</td>
                        <td>{{site['lon']}}</td>
                        <td>{{site['zoom']}}</td>
                        <td>
                            [{{ ", ".join(site['basenames']) }}]
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <!--TDX/TSX Content Div-->
        <div id="tdxContent" class="contentDiv">
            <table id="tsxInfo">
            </table>
        </div>

    </div>
</body>
</html>
