<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="static/styles/base_3.css" />
    <script type="text/javascript" src="static/scripts/jquery-3.3.1.min.js" defer></script>
    <script type="text/javascript" src="static/scripts/base_1.js" defer></script>

{%block head %}
{% endblock%}
</head>
<body>
    {%block body %}
    {% endblock%}
</body>
</html>