<div class="specialContent">
    <h1>About this Interface</h1>

    <p>
        This display consists of two parts: (1) the map component and (2) a time series display
        (that opens when you click on a station). The tabs on top of the map display provide a quick link to volcanoes
        that are monitored with ground based geodetic instruments.
    </p>
    <h2>Map</h2>
    <p>
        The map interface displays ground stations as blue circles. White circle edges denote GNSS-only installations,
        red circle edges indicate GNSS and borehole tilt stations. The arrows attached to the stations indicate the
        station velocity (cm/yr); the time interval over which this is calculated is indicated in the legend. All this
        is marked in the figure below, which shows that the GNSS stations at Akutan volcano from October 14, 2019 to
        October 14, 2020 all move away from the volcano (blue vectors) and stations closer to the edifice move up (green
        vectors).
    </p>
    <p class="center">
        <img alt="" src="static/img/help_img1.png" title="">
    </p>
    <h2>Time Series</h2>
    <p>
        After selecting a site on the map interface, its time series will be loaded. The time series are organized in
        east, north and vertical motion, each appropriately labeled. Each dot represents the position estimate for a
        single day. The bars attached to each point indicate the uncertainties in the position (the position is an
        estimate that is based on several assumptions, not a direct measurement!). If we have very little data or any
        given day (say, due to telemetry issues), the error bars will be quite large. Occasionally there are outliers -
        points that are very far away from the days before and after. These are generally due to snow & ice on the
        antenna, resulting in gaps in the winters. The last few days for each time series are marked orange. This
        indicates that these are temporary solutions based on rapid estimates for the GNSS satellite orbits. Final orbit
        products are usually available with an approximately 2-week delay (it takes time to estimate these), after which
        we re-estimate the station position and the dot turns blue. As these dots (or days) of positions accumulate, we
        see the subtle motion of the site on the millimeter to centimeter scale: the sites move not just because of
        volcanic activity, but also because of tectonics, seasonal snow and other processes.
    </p>
    <p class="center">
        <img alt="" src="static/img/help_img2.png" title="">
    </p>
    <p>
        Being able to look at the time series for each station is useful to explore how the velocities that we show on
        the map represent the motion of the site. It is important to know that the velocities are simply the long-term
        motion of a time series over a certain time period. We provide several presets for time frames that may be of
        interest (default is 1 year), or you can select your own time frame (custom). In the example above, we show that
        the 1-year time series at AV13 between September 1, 2019, and September 1, 2020 shows a deviation from the
        background trend beginning in about May 2020: the east component shows an eastward trend, the vertical component
        shows upward motion. This is reflected in the vectors on the map. Note that the vectors are recalculated based
        on the time frame you choose. Very short time frames (less than a few months) will often result in very large
        velocities that are not very meaningful.
    </p>
    <h2>Baselines</h2>
    <p>
        For GNSS stations around volcanoes it is useful to display velocities and timeseries relative to a “base
        station” that is far enough away from the volcano to not be very much affected by magmatic processes, but close
        enough to be affected by similar tectonic and other regional effects. When we plot baselines, we effectively
        remove the motion at the base station from the stations at the volcano. The timeseries plot indicates the 4
        letter ID of the base station used.
    </p>
    <h2>Tilt Time Series</h2>
    <p>
        Some markers on the map have a red circle around them. These are locations where both a GNSS instrument and a
        borehole tiltmeter are installed. For these stations, the GNSS time series is automatically loaded, but the tilt
        time series can be selected through the “Tilt” tab. Tiltmeters measure the change in slope and are much more
        sensitive to deformation than GNSS.
    </p>
</div>