<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=800">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <!--generic utility scripts, like jquery. can be swaped for other versions most likely-->
    <script type="text/javascript" src="static/scripts/jquery-3.5.1.min.js" defer></script>
    <script type="text/javascript" src="static/scripts/jquery-ui.min.js" defer></script>

    <script src="static/scripts/leaflet.js" defer></script>
    <script src="static/scripts/leaflet.geometryutil.js" defer></script>
    <script src="static/scripts/leaflet-arrowheads.js" defer></script>
    <script src="static/scripts/plotly.min.3.0.0.js" defer></script>

    <link rel="stylesheet" type="text/css" href="static/styles/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/leaflet.css" />

    <!--Application specific scripts-->
    <script type="text/javascript" src="static/scripts/mapPage-common-6.js" defer></script>
    <script type="text/javascript" src="static/scripts/base_3.js" defer></script>

    <!--Application specific CSS files-->
    <link rel="stylesheet" href="static/styles/base_3.css" />
    <link rel="stylesheet" href="static/styles/mapPage_common-9.css" />
    <link rel="stylesheet" href="static/styles/leaflet_styles-2.css" />
    <link rel="stylesheet" href="static/styles/mlselect-1.css" />

    {%block althead %}

    <script type="text/javascript" src="static/scripts/mlselect.js" defer></script>
    <script type="text/javascript" src="static/scripts/insarts-1.js" defer></script>
    <script type="text/javascript" src="static/scripts/overlays-3.js" defer></script>

    <script type="text/javascript" src="static/scripts/mapPage-26.js" defer></script>

    <script type="text/javascript">
        {% if overlay %}
        var initOverlay="{{overlay}}"
        var initOverlaySensor="{{sensor}}"
        var initOverlayType="{{type}}"
        var initOverlayDate="{{overlay_date}}"
        let initOverlayComplete=false;
        {% else %}
        var initOverlay=null
        var initOverlaySensor=null
        var initOverlayType=null
        var initOverlayDate=null
        let initOverlayComplete=true;
        {% endif %}
    {% if public %}
            IS_PUBLIC=true;
        </script>
        <link rel="stylesheet" href="static/styles/mapPage_public-2.css">
    {% else %}
            IS_PUBLIC=false;
        </script>
        <link rel="stylesheet" href="static/styles/mapPage_internal-3.css">
    {% endif %}

    {%endblock%}

</head>

<body>
    <div id="main_body">
    {% include 'mapPage.html' %}
    </div>
</body>

</html>
