<script type="text/javascript">
    stationVolcs={{station_volcs | safe}}
</script>

<div id="DownloadStatusDialog" style="display: none">
    Please wait. Generating image(s).
    <div id="DownloadStatus"></div>
    <div id="downloadLink"></div>
    <div id="DownloadClose">
        <button type="button" id="CloseProgress">Close</button>
    </div>
</div>

<div id="headers" class="noPrint">
    <img src="static/img/Hamburger_icon.svg" class="menu" />
    <div id="locations">
        <div id="locsLeft" class="locsDiv">
            {% for loc,data in locations|dictsort %}<button
                id="{{loc | replace(' ','')|lower}}_select"
                class="tab location{% if loop.first %} current{%endif%}"
                data-lat="{{data['center_lat']}}"
                data-lon="{{data['center_lon'] if data['center_lon']<0 else data['center_lon']-360}}"
                data-zoom="{{data['zoom']}}"
                data-baselines='{{data["baselines"]|jsonify| safe}}'
                data-site="{{loc | replace(' ','')}}"
            >
                {{loc}}</button
            >{%endfor%}
        </div>
        <div id="locsRight" class="locsDiv">
            <div class="privateOnly locsDiv">
                <button id="nextAcqTab" data-target="nextAcqs" class="tab special">
                    Next S1 Observations
                </button>
            </div>
            <div class="locsDiv publicOnly">
                <button id="aboutTab" data-target="deformation" class="tab special">
                    About Deformation</button
                ><button id="aboutInterfaceTab" data-target="help" class="tab special">
                    About This Interface
                </button>
            </div>
        </div>
    </div>
</div>


<div id="content">
    <div id="mapContainer" class="noPrint">
        <div id="options">
            <div id="optionsSpacer"></div>
            Show Sites:
            <span class="siteType continuous">
                <input
                    id="type_continuous"
                    type="checkbox"
                    class="siteCheck"
                    data-type="continuous"
                    checked
                /><label for="type_continuous">Continuous</label>
            </span>
            <span class="siteType pbo" style="display: none">
                <input
                    id="type_pbo"
                    type="checkbox"
                    class="siteCheck"
                    data-type="pbo"
                    checked
                /><label for="type_pbo">PBO</label>
            </span>
            <span class="siteType campaign">
                <input
                    id="type_campaign"
                    type="checkbox"
                    class="siteCheck"
                    data-type="campaign"
                /><label for="type_campaign">Campaign</label>
            </span>
            <span class="siteType seismic">
                <input
                    id="type_seismic"
                    type="checkbox"
                    class="siteCheck"
                    data-type="seismic"
                /><label for="type_seismic">Seismic</label>
            </span>
            <div id="vectorScaleDiv">
                Vector Scale:
                <input type="number" min="0" max="20" value="10" class="nums" id="vectorScale" />
            </div>
            <label for="showImages">Station Images</label><input type="checkbox" id="showImages" />
            <label for="showNextAcqs">Next Acquisitions</label
            ><input type="checkbox" id="showNextAcqs" />
            <br />
            <label for="showQuakes">Show Earthquakes</label>
            <input type="checkbox" id="showQuakes" />

            {%if not public %}
            <div id="overlaySelectors">
                <span id="selectedOverlays">Select Overlays...</span>
                <div id="overlayWrapper" style="display:none">
                    <div class="overlayOption">
                        <div class="overlayTitle">
                            InSAR Timeseries:
                        </div>
                        <div class="overlaySelector">
                            <div>
                                <ul
                                    id="insar_opts"
                                    data-type="insar"
                                    class="selectMenu"
                                    {%if public %}
                                    style="display: none"
                                    {%endif%}
                                ></ul>
                            </div>

                            <div>
                                <span id="insarLevel">
                                    Max Level:
                                    <input type="number" max="99" min="0" id="insar_level" name="insar_level" />
                                    <span id="insar_data_max"></span>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="overlayOption">
                        <div class="overlayTitle">
                            Interferogram:
                        </div>
                        <div class="overlaySelector">
                            <ul id="ifrPathSelect" data-type="kml" class="selectMenu"></ul>
                        </div>
                    </div>

                     <div class="overlayOption">
                        <div class="overlayTitle">
                            Amplitude:
                        </div>
                        <div class="overlaySelector">
                            <ul id="ampPathSelect" data-type="amp" class="selectMenu"></ul>
                        </div>
                    </div>

                </div>
            </div>
            {%endif%}

            <div style="display: none">
                <label for="avoOnly">AVO Only</label>
                <input type="checkbox" id="avoOnly" checked disabled="true" />
            </div>

            <select id="mapQuality">
                <option value="select">Download...</option>

                <optgroup label="---Full Map/plots---">
                    <option value="9">Fast (Gray)</option>
                    <option value="9c">Fast (Color)</option>
                    <option value="11">High Def (Gray)(~2min)</option>
                    <option value="11c">High Def (Color)(~2min)</option>
                </optgroup>

                <optgroup label="---Overlay GeoTIFFs---" class="menuSeperator">
                    <option value="tiff-insar" id="insarDownload" disabled>InSAR Timeseries</option>
                    <option value="tiff-ifr" id="ifrDownload" disabled>Interferogram</option>
                    <option value="tiff-amp" id="ampDownload" disabled>Amplitude</option>
                </optgroup>

            </select>

            <span id="instrText">Hold shift while clicking to graph multiple stations</span>
        </div>

        <div id="vectorLoading" style="display: none">
            Loading vectors. Please Wait...
            <div class="loading"></div>
        </div>

        <div id="mapWrapper">

            <!--Overlay date selection slider -->
            <div id="overlayFileSelect" style="display: none">
                <div id="selectedIFRDate">
                    <select id="overlayDateFromSelect"></select>
                    <span id="overlayDateToSpan">
                        -
                        <select id="overlayDateToSelect"></select>
                    </span>
                </div>

                <div id="overlayTypeToggle" class="ifrLeft ifrSelector" style="display: none;">
                    IFR
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    AMP
                </div>
                <div class="ifrRight ifrSelector">
                    <input
                        id="ifrDate"
                        type="range"
                        value="100"
                        min="0"
                        max="100"
                        step="1"
                        list="ifrDateMarkers"
                    />
                    <datalist id="ifrDateMarkers"> </datalist>
                </div>

            </div>

            <div id="scaleWrapper">
                <div id="legend">
                    <div id="dateSpan"></div>

                    <div class="nowrap">
                        <div class="left">
                            1cm/yr Horizontal<br />
                            1cm/yr vertical
                        </div>
                        <div class="right">
                            <div class="scaleBar blue"></div>
                            <br />
                            <div class="scaleBar green"></div>
                        </div>
                    </div>

                    {% if public %}
                    <div id="symbols">
                        <div class="stationKey">
                            GNSS:
                            <div class="gnss"></div>
                            <br />
                            GNSS+borehole tilt:
                            <div class="gnss tilt"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div id="colorbarContainer" style="display: none">
                    <div id="insar_range"></div>
                    <div id="colorbar"></div>
                    <div id="colorbarLabels">
                        <table id="labelTable">
                            <tr>
                                <td id="colorTopLabel"></td>
                            </tr>
                            <tr>
                                <td id="colorMidLabel">0</td>
                            </tr>
                            <tr>
                                <td id="colorBottomLabel"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="colorUnits">cm/yr</div>
                </div>
            </div>

            <div id="map"></div>
        </div>
    </div>
</div>

<div id="nextAcqs" class="extraData" style="display: none">
    <table id="nextS1Table">
        <thead>
            <tr>
                <th>Volcano</th>
                <th>Relative Orbit</th>
                <th>Mode</th>
                <th>Next Observation</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% if public %}
<div id="deformation" class="extraData" style="display: none">
    {% include "aboutVolcano.html" %}
</div>
<div id="help" class="extraData" style="display: none">{% include "interfaceHelp.html" %}</div>
{% endif %}
