body{
    background-color:lightgrey;
    text-align:center;
}

div#content{
    border: 3px inset;
    background-color:whitesmoke;
    display:inline-block;
    box-sizing: border-box;
    margin-top:10px;
    height: calc(100vh - 80px);
    padding-top: 5px;
}

div#content button:first-of-type{
    margin-left:5px;
}

div#content input:first-of-type{
    margin-right:5px;
}

#stationList, #siteList{
    border-collapse: collapse;
}

#stationList td, #stationList th,
#siteList td, #siteList th{
    border:1px solid;
    padding:2px 10px;
}

#stationList tr td:first-of-type,
#stationList tr th:first-of-type,
#siteList tr td:first-of-type,
#siteList tr th:first-of-type {
    border-left:none;
}

#stationList tr td:last-of-type,
#stationList tr th:last-of-type,
#siteList tr td:last-of-type,
#siteList tr th:last-of-type {
    border-right:none;
}

#stationList tbody tr:hover,
#siteList tbody tr:hover{
    background-color: lightblue;
    cursor: pointer;
}

#editDialog div.stationTiltWrapper{
    border:2px inset;
    margin-top:20px;
    padding-top:5px;
    border-radius:10px;
    text-align: left;
}

#addSiteDiv{
    float:initial;
    text-align: left;
}

#newOrientation {
    margin-left: 5px;
}

#orientationEdit{
    width:100%;
    text-align:center;
    border-collapse:collapse;
    border-top:1px solid black;
    margin-top:5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#orientationEdit td, #orientationEdit th{
    border: 1px solid black;
}

#orientationEdit tr td:first-of-type, #orientationEdit tr th:first-of-type{
    border-left: none;
}

#orientationEdit tr td:last-of-type, #orientationEdit tr th:last-of-type{
    border-right: none;
}

#orientationEdit tr:last-of-type td, #orientationEdit tr:last-of-type th{
    border-bottom:none;
}

#orientationEdit input{
    border: none;
}

td.stationPhoto > img {
    width: 64px;
}

.stationInfo{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    align-items: center;
}

.stationInfo label{
    padding-top:10px;
}

.twoWide{
    grid-column: 1/2;
}

#imgUploadDiv{
    position:relative;
    width:auto;
}

#selectedImage{
    position:absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
    opacity:0;
}

#editDialog div.stationPhoto{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1px;
}

#editDialog div.stationPhoto img{
    max-width:100%;
    max-height:100%;
}

#nameEdit{
    text-align: center;
    font-weight: bold;
}

#editDialog div.stationPhoto{
    width:200px;
    height:200px;
    border:4px inset;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:2px;
}

#editDialog input, #editDialog select{
    height:2em;
    line-height:2em;
    margin-left:5px;
}

#editDialog select{
    background:initial;
}

#tilt_orientations{
    border-collapse:collapse;
    border:3px inset;
}

#main_body{
    display:inline-block;
}

.panel{
    width: 756px;
}

#tableWrapper{
    padding:40px;
    border:3px inset;
    border-radius:10px;
    background-color:#EEE;
    display:inline-block;
    padding-bottom:5px;
}

#tilt_orientations, #tilt_orientations td, #tilt_orientations th{
    border: 1px solid black;
    padding: 2px 10px;
}

td.station{
    vertical-align:top;
}

td.delete{
    cursor:pointer
}

#tilt_orientations>tbody>tr:hover td.dataField{
    background-color:lightblue;
    cursor:pointer;
}

#editDialog{
    display:inline-grid;
    grid-template-columns:auto auto auto auto auto;
    overflow:initial;
}

.deleteImg{
    width:1em;
    height:1em;
}

.endButton{
    text-align:left;
    margin-top:5px;
}

.deleteStation{
    position:absolute;
    left:20px;
}

div.contentDiv{
    display:none;
}

div.contentDiv.active{
    display:block;
}

#contentSelector{
    position:relative;
}

#contentSelector button{
    width:15ch;
    height:3em;
    border:0;
    position:relative;
    top: -2px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
    color:#666666;
    box-shadow: 0 4px #999;
    background-color: #f9f9f9;
    cursor:pointer;
    border-left:3px groove;
}

#contentSelector button:active, #contentSelector button.active{
    top: 0px;
    box-shadow: 0 2px #666;
}

#contentSelector button:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left:15px;
    border-left:none;
}

#contentSelector button:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right:15px;
}

#siteEditContent{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

#siteEditContent div.left{
    display:grid;
    grid-template-columns: auto auto;
    column-gap:10px;
    row-gap:5px;

}

#siteEditContent div.left label, #siteEditContent div.left div.label{
    justify-self: end;
    text-align: right;
}

#siteEditContent div.left input{
    justify-self: start;
    text-align: left;
    width:100%;
}

#siteEditContent div.right{
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    width: 15ch;
}

.listEdit{
    border:2px inset;
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding:5px;
    overflow-y:auto;
}

.listEdit div{
    position:relative;
    border:1px solid;
    margin-top:1px;
    margin-bottom:1px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:22px;
    padding-left:5px;
    border-radius:3px;
    background-color: whitesmoke;
}

.listEdit div::after{
    content:"";
    position:absolute;
    left:calc(100% - 18px);
    background-image: url('../img/Hamburger_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height:16px;
    width:16px;
    cursor:pointer;
}

.filteringWrapper{
    position:relative;
}

.filteringSelector{
    position:absolute;
    box-shadow:5px 5px 5px rgba(0, 0, 0, .2);
    border:1px solid #EEE;
    background-color:white;
    z-index: 1;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}

.filteringScroll{
    margin-top:5px;
    margin-bottom:10px;
    height:200px;
    overflow-y: auto;
    border-bottom:1px solid black;
}

#siteEdit{
    overflow:initial;
}

.filteringOptions{
    text-align:left;
}

.filteringOptions td{
    padding-left:5px;
    padding-right:5px;
}

#tsxInfo tbody td, #tsxInfo thead th{
    white-space:nowrap;
    border:1px solid black;
}

#tsxInfo tbody td input, #tsxInfo tbody td select{
    box-sizing:border-box;
}

#tsxInfo tbody td div.error{
    color:red;
    font-size:.5em;
}

#newTSXContent{
    display: grid;
    grid-template-columns: auto auto;
    row-gap:5px;
    column-gap:10px;
    justify-items:start;
    align-items:center;
}

#newTSXContent label{
    justify-self:end;
}