body{
	background-color:#555;
	
}

hr.top{
	height:4px;
	background-color:whitesmoke;
}

.headtext{
	font-weight:bold;
	font-family: NewTimes;
	font-size: xx-large;
	color:whitesmoke;
}

div.volcano{
	display:inline-block;
	margin:10px;
}

div.title{
	text-align:center;
}

div.volcano div.title a{
	font-size:medium;
	color:#66FF66;
	font-family:NewTimes;
}

.section{
	color:whitesmoke;
	margin-bottom: 5px;
	border-bottom: 3px groove white;
	padding-bottom:25px;
	padding-left:10px;
}

.section a{
	color:lightblue;
}

.section .header{
	font-weight: bold;
	text-decoration: underline;
	margin-bottom:10px;
	width:auto;
	margin-right:auto;
	position:relative;
	left:-7px;
	font-size: 1.25em;
}