.stationIcon{
    border-radius:19px;
    border-width: 3px;
    margin-left:-16px !important;
    margin-top:-16px !important;
    display:flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color:white;
    font-size:.8em;
    color:white;
}

.stationIcon.tilt{
    border-color:red;
}

.stationIcon.seismic.tilt{
    border:none;
    color:transparent;
}

.stationIcon.seismic.tilt:before{
    content:'';
    position:absolute;
    top: 50%; /* Vertically center the triangle */
    left: 50%; /* Horizontally center the triangle */
    transform: translate(-50%, -50%); /* Correct the positioning to center the triangle */
    width:20px;
    height:20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;  /* Change #000 to your desired color */
    box-sizing:border-box;
    border-radius:0px;
}

.stationIcon.continuous{
    background-color:#4900F4BF;    
}

.stationIcon.campaign{
    background-color:#0CDA3BBF;
}

stationIcon.pbo{
    background-color:#EAFF00BF;
    color:black;
}

.zVector::after{
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3EM -1.75 0 L 1.75 0%3C/svg%3E '");
    width: 30px;
    height:3px;
}