#mapContainer {
    grid-template-rows: 1fr;
    overflow-y: hidden;
}

#mapContainer #options {
    display: none;
}

.chart {
    min-width: 350px;
}

.chartHeader {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 0px;
}

.publicOnly {
    display: inline-block;
}

.privateOnly{
    display:none;
}

.selectButtons {
    left: 5px;
    bottom: 2px;
    top: unset;
}

.selectButtons button{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background-color:whitesmoke;
    margin-top:2px;
    width:6ch;
    margin-bottom:2px;
}

.selectButtons button.current{
    padding-left:1ch;
    width:7ch;
}

.headerSection.headerCenter{
    display:table;
}

.headerSection.headerCenter .gpsDateSelect{
    vertical-align:bottom;
    display:table-cell;
}

#vectorLoading {
    top: 1px;
}

.loading {
    border: 1.5em solid lightgray;
    border-top: 1.5em solid skyblue;
}

.graphArea {
    padding-left: 5px;
    overflow-y: auto;
}

@media only screen and (max-width: 800px) {
    div#locations {
        grid-template-rows: 1fr auto;
    }
}