span.dateBtns button.active {
    background-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

span.dateBtns button {
    width: 36px;
    height: 25px;
    margin-left: 3px;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 1px;
    border-radius: 5px;
    background-color: darkgrey;
}

select.dataSource {
    vertical-align: bottom;
    margin-left: 5px;
}

div.selectButtons{
    display:inline-block;
}
div.selectButtons button{
    font-size: 0.9em;
}

#DownloadStatusDialog{
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:500;
    padding:50px;
    background-color:white;
    box-shadow:5px 5px 5px rgba(0,0,0,.3);
    border:1px solid black;
    text-align:center;
    border-radius: 5px;
}

#DownloadStatus{
    padding-top:5px;
}

#DownloadClose{
    text-align:right;
    position:absolute;
    right:5px;
    bottom:5px;
}

div.insar .graphArea{
    min-height:0px;
}

#overlaySelectors{
    position:relative;
    display:inline-block;
    margin-left:2px;
    margin-right:5px;
    border:1px solid #BBB;
    padding-top:1px;
    padding-right: 22px;
    padding-left:5px;
    padding-bottom:1px;
    background-color: white;
    border-radius: 5px;
    font-size: .75em;
    margin-top:2px;
}

#overlaySelectors::after{
    content:'';
    position:absolute;
    right:2px;
    top: 0px;
    height:100%;
    width:12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 8px;
    background-position:center;
    background-repeat: no-repeat;
}

#overlayWrapper{
    position:absolute;
    top:0px;
    left:0px;
    border:1px solid #CCC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    padding:10px;
    z-index:502;
    background-color: whitesmoke;
    border-radius: 5px;
}

#overlayWrapper::after{
    content:"";
    z-index: -3;
    width: 50px;
    height: calc(100% + 25px );
    position:absolute;
    top: 0px;
    left: 100%;
}

.overlayOption{
    display: grid;
    grid-template-columns: 17ch 1fr;
    row-gap: 5px;
    column-gap: 10px;
    align-items:center;
    border:1px solid #ccc;
    border-radius:8px;
    padding-top:2px;
    padding-bottom:2px;
}

.overlayOption .overlayTitle{
    justify-self: end;
}

.overlayOption .overlaySelector{
    justify-self:stretch;
    padding-right:5px;
}

.overlayOption .overlaySelector ul{
    width:100%;
}
