body {
    margin: 0px;
}

.left,
.right {
    display: inline-block;
}

.left {
    text-align: right;
    padding-right: 3px;
}

.nowrap {
    white-space: nowrap;
}

#scaleWrapper {
    position: absolute;
    top: 10px;
    z-index: 500;
    padding-left:10px;
}

#legend{
    background-color: rgba(255, 255, 255, .5);
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#dateSpan {
    text-align: center;
    font-weight: bold;
}

.scaleBar {
    position: relative;
    display: inline-block;
    height: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    bottom: .25em;
}

.scaleBar.blue {
    background-color: #3300FF;
}

.scaleBar.green {
    background-color: #0CDA3B;
}

.scaleBar.blue::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 10px solid #3300FF;
    display: block;
    position: absolute;
    left: 100%;
    top: 1px;
    transform: translateY(-50%);
}

.scaleBar.green::after {
    content: "";
    width: 3px;
    height: 10px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: calc(100% + 7px);
    top: 1.5px;
    transform: translateY(-50%);
    border-right: 3px solid #0CDA3B;
}

.scaleBar.green::before {
    content: "";
    width: 7px;
    height: 3px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    border-top: 3px solid #0CDA3B;
}

#symbols {
    text-align: center;
}

.stationKey {
    text-align: right;
    display: inline-block;
}

.gnss {
    border: 3px solid white;
    background-color: #4900F4;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: 1px;
}

.gnss.tilt {
    border: 3px solid red;
}

.permalink {
    text-align: left;
}

#rangeSelector {
    position: absolute;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    transform: translate(-50%, 0);
    left: 50%;
    top: calc(100% + 10px);
    white-space: nowrap;
}

#calFrom::before {
    content: "Date From:";
    text-align: center;
}

#calTo::before {
    content: "Date To:";
    text-align: center;
}

#rangeSelector::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid darkgrey;
    display: block;
    position: absolute;
    bottom: 100%;
    left: calc( 50% - 10px);
}

.cal {
    display: inline-block;
    font-size: 12px;
}

div#main_body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-image: url('../img/IMG_1769.JPG');
    background-repeat: repeat-x;
    background-position-y:-123px;
    background-size: 1580px;
}

div#headers {
    padding-top: 30px;
    height:65px;
    box-sizing: border-box;
    display:flex;
    align-items: end;
}

label {
    font-weight: normal;
}

#options {
    position: relative;
    background-color: rgba(255, 255, 255, .75);
    padding-top:3px;
    padding-bottom:2px;
    white-space: nowrap;
}

#instrText {
    position: absolute;
    right: 15px;
    bottom: -1.5em;
    z-index: 501;
    text-shadow: 2px 2px whitesmoke;
}

.message {
    position: absolute;
    display: inline-block;
    top: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 3em;
    text-align: center;
    background-color: green;
    z-index: 1000;
}

.msgtext {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.message.info {
    background-color: green;
}

.message.error {
    background-color: red;
    color: white;
}

.message.info {
    background-color: green;
}

.message.error {
    background-color: red;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-wrap: wrap;
    min-height: 0px;
    min-width: 250px;
}

#mapContainer {
    display: inline-grid;
    border: 1px solid darkgrey;
    border-top: none;
    grid-template-rows: auto 1fr;
    height: auto;
    vertical-align: top;
    padding-top: 1px;
    min-height: 50%;
    max-height: 100%;
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow-y: visible;
}

#mapWrapper {
    position: relative;
    background-color:white;
    padding-left:5px;
}

#optionsSpacer{
    width:5px;
    margin-right:5px;
    background-color: white;
    height:100%;
    float: left;
}
.extraData{
    background-color: white;
}

.chart {
    text-align: center;
    display: inline-grid;
    grid-template-rows: auto minmax(0, 1fr);
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    vertical-align: top;
    box-sizing: border-box;
    border-bottom: 1px solid darkgrey;
    position: relative;
    white-space: normal;
    min-height: 50px;
    max-height: 100%;
    min-width: 690px;
    height: auto;
    overflow: hidden;
    max-width: 715px;
    flex: 1;
    background-color: white;
}

#colorbarContainer{
    height:200px;
    max-height:30vh;
    white-space: nowrap;
    margin-top:15px;
}

#colorbar{
    height:100%;
    width:15px;
    display:inline-block;
    background: linear-gradient(to bottom, #ff0000 0%,#ffffff 50%,#0000ff 100%);
}

#colorbarLabels{
    height:100%;
    display:inline-block;
}

#insar_range{
margin-bottom:5px;
color:whitesmoke;
text-shadow:1px 1px black;
}

#labelTable{
    height:100%;
}

#labelTable tr:first-of-type{
    vertical-align: top;
}
#labelTable tr:first-of-type td{
    position:relative;
    top:-.5em;
}

#labelTable tr:last-of-type{
    vertical-align: bottom;
}

#labelTable tr:last-of-type td{
    position: relative;
    top:0.5em;
}

#colorUnits{
    writing-mode: vertical-lr;
    text-orientation: sideways;
    display:inline-block;
    text-align:center;
    position:relative;
    left:-15px;
    height:100%;
    transform: rotate(-180deg);
}

@media only screen and (max-width: 1224px) and (orientation: landscape) {
    #mapContainer {
        max-width: 100vw;
    }
    #instrText {
        display: none;
    }
    .chart {
        min-width: 500px;
    }
}

@media only screen and (max-width: 1224px) and (orientation: portrait) {
    .chart {
        max-height: none;
        height: auto;
        min-height: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    #mapContainer {
        min-width: calc( 100vw - 10px);
        margin-bottom: 0px;
    }
    .tiltTop {
        overflow-y: hidden;
    }
    #instrText {
        display: none;
    }
}

.gpsTop {
    overflow-y: auto;
    padding-left: 5px;
}

.graphArea {
    min-height: 816px;
}

.graphImg {
    width: 100%;
}

.graphDisp {
    display: inline-block;
    position: relative;
    width: 100%;
}

.graphDisp.noData::before, div.tiltWrapper.noData::before {
    content: "No data for date range";
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    top: 25%;
    width: 100%;
    z-index: 1;
    text-align: center;
    left: 0px;
    pointer-events: none;
}

.closeBtn, .settingsBtn {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.settingsBtn{
    margin-right:3px;
}

#vectorScale {
    max-width: 8ch;
    vertical-align: middle;
}

.chartHeader {
    border-bottom: 4px groove;
    padding-top: 5px;
    padding-left:5px;
    margin-bottom: 5px;
    position: relative;
    display:grid;
    grid-template-columns:1fr 1fr;
}

#locations {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    align-items: end;
    margin: 0px;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.locsDiv {
    display: inline-block;
}

.publicOnly{
    display: none;
}

@media print {
    .chart {
        border-right: none;
    }
}

span.siteType {
    margin-right: 5px;
    padding: 2px 5px;
}

span.siteType.pbo {
    background-color: rgb(234, 255, 0);
}

span.siteType.continuous {
    background-color: rgb(73, 0, 244);
    color: white;
}

span.siteType.campaign {
    background-color: rgb(12, 218, 59);
    color: white;
}

.tiltTop {
    overflow-y: auto;
}

.tiltWrapper {
    position: relative;
    height: 100%;
    min-height: 1000px;
}

.tiltArea {
    height: 100%;
    min-height: 900px;
}

.tiltLabel {
    position: absolute;
    left: 70px;
    margin-top: 60px;
}

.tiltLabel.topLabel {
    top: 0px;
}

.tiltLabel.midLabel {
    top: 33%;
}

.tiltLabel.bottomLabel {
    top: 66%;
    width: 100%;
    text-align: center;
    left: 15px;
}

.gpsDateSelect {
    position: relative;
    display: inline-block;
}

.settingsInner{
    display:grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 3px;
    align-items: center;
    justify-items:start;
}

span.rightAlign{
    justify-self:end;
}

span.chartTitle{
    grid-column: 1/3;
    justify-self:center;
}

.loading {
    border: .5em solid lightgray;
    border-top: .5em solid skyblue;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    animation: spin 2s linear infinite;
    position: absolute;
    right: -1.5em;
    bottom: 3px;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadMsg .loading {
    width: 3em;
    height: 3em;
    position: static;
    display: inline-block;
    margin-top: 10px;
}

#vectorLoading {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    background-color: rgba(0, 255, 0, .5);
    z-index: 100;
}

#vectorLoading .loading {
    position: static;
    display: inline-block;
    border: .25em solid lightgray;
    border-top: .25em solid skyblue;
}

.polarScale {
    position: absolute;
    border: 1px solid black;
    width: 25%;
    height: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #ACD6E6, #1A0391);
    right: 5%;
    top: 54%;
}

.polarScale .scaleStart {
    position: absolute;
    left: 0px;
    top: 22px;
}

.polarScale .scaleStop {
    position: absolute;
    right: 0px;
    top: 22px;
}

#vectorScaleDiv {
    display: inline-block;
}

.extraData {
    overflow: auto;
    text-align: center;
}

.specialContent {
    text-align: justify;
    max-width: 1024px;
    display: inline-block;
}

img.menu {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img.stationImg{
    max-width:30vw;
    max-height:30vh;
}



.specialContent img{
    max-width:100%;
}

.specialContent .center{
    text-align:center;
}

#nextAcqs{
    padding:10px;
}

table#nextS1Table{
    border:4px outset;
    border-collapse: collapse;
}

table#nextS1Table thead tr{
    border-bottom:4px groove;
}

table#nextS1Table thead th{
    border-left:1px solid;
    border-right:1px solid;
}

table#nextS1Table tbody td{
    border:1px solid;
}

table#nextS1Table th, table#nextS1Table td{
    padding:4px 15px;
}

.s1Info td{
    padding:2px 5px;
}

@media only screen and (max-width: 800px) {
    img.menu {
        display: inline;
    }
    #content {
        border-top: 1px solid darkgrey;
    }
    #locations button.tab {
        position: static;
        border-bottom: 1px solid #C9C9C9;
        margin-right: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #locations button.tab.current {
        border-bottom: 1px solid #C9C9C9;
        height: auto;
    }

    .locsDiv, #locsRight.locsDiv {
        display: grid;
    }

    div#locations {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 30px;
        box-sizing: border-box;
        position: absolute;
        width: auto;
        align-items: start;
        background-color: rgba(255, 255, 255, .75);
        border: 1px solid;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        top: 19px;
        z-index: 1001;
        padding-bottom: 5px;
    }
    
    div#headers {
        padding-top:0px;
        height:auto;
    }
}

#ifrSelect{
    padding:0;
    list-style: none;
    position:relative;
    z-index:100;
    background:white;
    display:inline-block;
    padding-left:5px;
    padding-right:30px;
    font-style: -webkit-small-control;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-caps: -webkit-small-control;
    font-size:.6875em;
    font-weight: 400;
    font-weight: -webkit-small-control;
    font-size: -webkit-small-control;
    border:1px solid #BBB;
    border-bottom-color:#A9A9A7;
    border-radius: 5px;
    box-sizing: border-box;
    height:18px;
    line-height:16px;
    vertical-align: top;
    margin:2px;
    appearance: menulist-button;
    background-image: url('../img/SafariSelectArrows.svg');
    background-size: 12px;
    background-position:calc(100% - 2px) center;
    background-repeat: no-repeat;
    z-index:100;
    cursor:default;
    white-space: nowrap;
}

#ifrSelect ul{
    margin:0;
    list-style: none;
    display:none;
    position:absolute;
    top: 0px;
    border-radius: 6px;
    border:1px solid #BBB;
    padding:5px;
    background-color: #EDEAE4;
    color:black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    left:-5px;
    top:-6px
}

#ifrSelect ul ul{
    top: -6px;
    left: 100%;
}

#ifrSelect li:not(.topLevel):hover{
    background-color: #2C91FA;
    color:white;
}

#ifrSelect li:not(.topLevel):hover > ul, #ifrSelect li.topLevel.selected > ul{
    display:inherit;
}

#ifrSelect ul li{
    border-radius: 4px;
    width:auto;
    padding-left:5px;
    padding-right:30px;
    padding-top:2px;
    padding-bottom:2px;
    float:none;
    display:list-item;
    position:relative;

}

#ifrSelect ul li:not(.parent){
    padding-right:5px;
}

#ifrSelect li.parent{
    background-image: url('../img/right-arrow.svg');
    background-size: .6em;
    background-position: calc(100% - 2px);
    background-repeat: no-repeat;
}

#overlayFileSelect{
    position:absolute;
    z-index:1001;
    bottom:15px;
    left: 100px;
    right:65px;
    text-align:center;
    display:grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    column-gap:10px;
}

#ifrDate{
    width:100%;
}

#selectedIFRDate{
    background-color:rgba(255,255,255,.42);
    border-radius:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    margin-bottom:5px;
    grid-column: 1/3;
    margin-left:auto;
    margin-right:auto;
}

.ifrSelector{
    display:inline-block;
    background-color: rgba(255, 255, 255, .75);
    height: 100%;
    padding-top: 4px;
    box-sizing: border-box;
    padding-left:5px;
    padding-right:5px;
    border-radius: 5px;
}

.ifrRight{
    grid-column: 2/3;
}

.switch{
    position:relative;
    display:inline-block;
    width:30px;
    height:18px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position:absolute;
    cursor:pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#2196F3;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12x);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.headerSection.headerRight{
    text-align:right;
    padding-right:5px;
}

.headerSection.headerLeft{
    text-align:left;
}

.downloadData{
    margin-left:2px;
    margin-bottom: 5px;
    vertical-align: text-bottom;
}

.plotSettings{
    position:absolute;
    background-color: white;
    right: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, .25);
    top:30px;
    padding:10px;
    z-index: 10;
    border: 1px solid #CCC;
    display:none;
}

.RTUOptions{
    grid-column:2;
    display:flex;
    gap:5px;
}

.formatRTU{
    margin-left:10px;
}

@supports (-moz-appearance:none) {
    #ifrSelect{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-size: .6em;
        background-position:calc(100% - .3em) center;
        font-size:.813em;
        height:22px;
        padding-right:30px;
        padding-top: 1px;
        padding-bottom:1px;
        background-color: #E9E9ED;
        border-color: #90909D;
        border-width:1px;
        border-style:solid;
        border-radius: 4px;
        margin-top:0px;
    }

    #ifrSelect ul{
        padding-left:0px;
        padding-right:0px;
        border-radius: 4px;
    }

    #ifrSelect ul li{
        padding-left:15px;
        border-radius: 0px;
    }
}
