@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    ul.multiLevelSelect.chrome{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-size: .6em;
        background-position:calc(100% - .3em) center;
        font-size:.813em;
        height:22px;
        padding-right:30px;
        padding-top: 1px;
        padding-bottom:1px;
        border-color: #90909D;
        border-width:1px;
        border-style:solid;
        border-radius: 4px;
        margin-top:0px;
    }
}


ul.multiLevelSelect{
    padding:0;
    list-style: none;
    position:relative;
    background:white;
    display:inline-block;
    padding-left:5px;
    padding-right:30px;
    font-style: -webkit-small-control;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-caps: -webkit-small-control;
    font-size:.6875em;
    font-weight: 400;
    font-weight: -webkit-small-control;
    font-size: -webkit-small-control;
    border:1px solid #BBB;
    border-bottom-color:#A9A9A7;
    border-radius: 5px;
    box-sizing: border-box;
    height:18px;
    line-height:16px;
    vertical-align: top;
    margin:2px;
    appearance: menulist-button;
    background-image: url('../img/SafariSelectArrows.svg');
    background-size: 12px;
    background-position:calc(100% - 2px) center;
    background-repeat: no-repeat;
    cursor:default;
    white-space: nowrap;
}

ul.multiLevelSelect ul{
    margin:0;
    list-style: none;
    display:none;
    position:absolute;
    top: 0px;
    border-radius: 6px;
    border:1px solid #BBB;
    padding:5px;
    background-color: #EDEAE4;
    color:black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    left:-5px;
    z-index:100;
}

ul.multiLevelSelect ul li:last-of-type::after{
        content:"";
        position:absolute;
        width:100%;
        height:10px;
        top:100%;
        left:0px;
}

ul.multiLevelSelect ul ul{
    left: 100%;
}

ul.multiLevelSelect ul ul::before{
    content:"";
    position:absolute;
    width:100%;
    height:10px;
    top:-9px;
    left:0px;
}

ul.multiLevelSelect li:not(.topLevel):hover{
    background-color: #2C91FA;
    color:white;
}

ul.multiLevelSelect li:not(.topLevel):hover > ul, ul.multiLevelSelect li.topLevel.selected > ul{
    display:inherit;
    min-width:100%;
}

ul.multiLevelSelect ul li{
    border-radius: 4px;
    width:auto;
    padding-left:5px;
    padding-right:30px;
    padding-top:2px;
    padding-bottom:2px;
    float:none;
    display:list-item;
    position:relative;

}

ul.multiLevelSelect ul li:not(.parent){
    padding-right:5px;
}

ul.multiLevelSelect li.parent{
    background-image: url('../img/right-arrow.svg');
    background-size: .6em;
    background-position: calc(100% - 2px);
    background-repeat: no-repeat;
}
